
.error-container, .error-header, .error-message{
    width: min(80vw, 30rem);
}
.error-container{
    margin-top: 2rem;
    box-shadow:  5px 5px 5px 5px rgba(92,92,92,.5);
    border-radius: 1rem;
}
.error-header{
    height: 2rem;
    background-color: var(--global_color_background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.error-title{
    text-align: center;
    border-radius: 50%;
    font-size: 1.4rem;
    color: white
}
.error-message{
    text-align: center;
    font-size: 1.6rem;
    max-width: 40ch;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1rem;
    background-color: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.error-close{
    text-align: center;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    font-size: 1.3rem;
    color: black;
    background-color: white;
    cursor: pointer;
}